APP_NAME="Zafaran Backend"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=Asia/Jakarta

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=db.threegency.com
DB_PORT=3306
DB_DATABASE=zafaran_db
DB_USERNAME=newuser
DB_PASSWORD=passwordku

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

JWT_SECRET=
JWT_TTL=43200
JWT_REFRESH_TTL=43200

# Official WhatsApp API (apinaqu)
WHATSAPP_API_BASE_URL=https://apinaqu.zafarangroupindonesia.com
WHATSAPP_API_TOKEN=your_token_here

# Payment Gateway (Midtrans)
PAYMENT_GATEWAY=midtrans
MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_CLIENT_KEY=your_midtrans_client_key
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_MERCHANT_ID=your_merchant_id

JWT_ALGO=HS256

# DOKU Payment Gateway
DOKU_ENV=sandbox
DOKU_CLIENT_ID=your_doku_client_id
DOKU_SECRET_KEY=your_doku_secret_key
